header{
    background-image: linear-gradient(to bottom,rgb(255, 111, 0),white);
    padding: 10px;
    margin: -8px;
}
header>h1{
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
header>li{
    text-align: center;
    font-size: 18px;
}
header>img{
    display: block;
    margin: auto;
    width: 200px ;
    height: 200px;
    border-radius: 15px;
}
header>nav{
    margin-top: 20px;
    text-align: left;
    font-size: 17px;
}
nav>a{
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    
}
nav>a:hover{
    background-color: rgb(255, 111, 0);
    color: white;
    text-decoration: underline;
}
main{
    margin-top: 15px;
    
    padding: 10px;
    text-align: center;
}
main>h2{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    

}
main>p{
    text-align: justify;
    font-size: 17px;
    
}
main>img{
    width: 205px;
    height: 205px;
    padding-right: 15px;
    margin-top: 15px;
}
#imagens{
    display: inline-table;
}
/* fim da missao da empresa*/
div{
    text-align: center;
}
div>h2{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
div>p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}
div>img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
iframe{
    position: relative;
    width: 450px;
    height: 300px;
}

footer{
    text-align: center ;
    background-color:rgba(255, 111, 0, 0.446) ;
    margin: -8px;
    padding: 10px;
    margin-top: 10px;
}
footer>li{
    margin-bottom: 15px;
    font-size: 17px;

}
.midias{   
    margin: 10px;
    width: 50px;
    height: 50px;
    display:inline-block;
}
a>img{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 45%;
    
    display: block;
}
.midias>a>img:hover{
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.434);
    padding: 2px;
    

}


